/*
git config --global user.name "Ձեր մուտքանունը գիտհաբի"
git config --global user.email "Ձեր էլ հասցեն որը օգտագործել եք  գիտհաբում գրանցման ժամանակ"

Ստուգելու համար արդյոք փոփոխվել է կարող եք կանչել հետյալ հրամանները
git config user.name 
git config user.email

git init գործարկել ֆայլերը git-ում
git add example.html,թարմացնել նոր գործողություն ,(git add .)  - թարմացնել բոլոր գործողությունները
git status Ստուգել գործողությունների կարգավիճակը
git commit -m "" նկարագրել մեկնաբանության միջոցով կատարվող գործողությունը


git branch           տեսնել բոլոր բրենչները, դուք գտնվում եք այդ պահին * -ով նշված բրենչում
git branch name      ստեղծել նոր բրենչ տվյալ անվանմամբ
git checkout name    տեղափոխվել բրենչների միջև
git branch -d name   ջնջել տվյալ անունով բրենչը
git merge name       ցուցադրել բոլոր փոփոխությունները որը կատարվել է նշված բրենչի կողմից

echo > file name     ստեղծել նոր ֆայլ տվյալ անունով և ֆորմատով
cd  name             բացել տվյալ անունով թղթապանակը պապկան folder
ls                   տեսնել տվյալ թղթապանակի պարունակությունը
clear                Մաքրել ցուցադրվող տերմինալի էջը

git push             ավելացնել ֆայլերը github
git pull             թարմացնել տվյալ համակարչում ֆայլերը եթե կատարվել է փոփոխություններ խմբի այլ օգտատերի կողմից
git log --oneline    տեսնել ինչ փոփոխությունների է ենթարկվել ֆայլը
git reset code       code փոխարեն մենք գրում ենք փոփոխությունների են տողի բանալին որը ցանկանում ենք հետ գնալ


git clone            ներբեռնել նշված էջի պարունակությունը տվյալ թղթապանակի մեջ

Ctrl+shift+`         ստեղների սեղմամբ բացել տերմինալը vcode-ում

*/
