*{
    box-sizing: border-box;
    margin: 0;padding: 0;
}
.flex_container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #000
}

/*new comment header*/
.header{
    width: 100%;
    height: 120px;
    background: rgb(24, 47, 56);
    padding: 1% 7%;
    display: flex;
    justify-content: space-between;
    border-bottom: 10px solid #000;
}
.logo{
    align-self: center;
    text-transform: capitalize;
    font-size: 30px;
    color: #fff;
    border: 2px solid #fff;
    padding: 6px 12px;
    box-shadow: 0px 0px 6px goldenrod;
    text-shadow: 0px 0px 4px goldenrod;
    transform: rotate(15deg) rotateX(30deg);
    animation: animate1 2s linear infinite alternate;
}
@keyframes animate1{
    0%{transform: rotate(15deg) rotateX(30deg);}
    50%{transform: rotate(0deg) rotateX(0deg);}
    100%{transform: rotate(-15deg) rotateX(30deg);}
}

.navbar{
    display: block;
    align-self: flex-end;
}
.navbar>a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 26px;
    padding: 5px 10px;
    border-bottom: 2px solid transparent;
    transition: .4s all;
}
.navbar>a:hover{
    color: goldenrod;
    border-bottom-color: goldenrod;
}
.media_menu_btn{
    display: none;
    cursor: pointer;
}
.media_menu_btn>div{
    width: 35px;
    height: 5px;
    background: #fff;
    margin: 6px 0px;
    transform: translateY(0px) rotate(0deg);
    box-shadow: 0px 0px 2px transparent;
    transition: .4s;
}
.media_menu_btn:hover div{
    box-shadow: 0px 0px 6px goldenrod;
}
.active>div:first-child{
    transform: translateY(11px) rotate(45deg);
}
.active>div:nth-child(2){
    opacity: 0;
}
.active>div:last-child{
    transform: translateY(-11px) rotate(-45deg);
}

.gallery_slayder{
    width: 100%;
    padding: 20px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.gallery_slayder>img{
    width: 100%;
    box-shadow: 0px 0px 18px rgb(225, 225, 225),0px 0px 20px rgb(255, 255, 255);
}
.checkin_btn>input{
    transform: scale(2,2);
    margin: 0px 10px;
}

.slider{
    width: 100%;
    min-height:50vh;
    padding: 50px 5%;
    display: flex;
    gap: 20px;
    overflow: hidden;
    
}
.slider>img{
    width: 50%;
}


.slede_one>img{
    order: 1;
    transform: translateY(80px) translateX(50vw);
    opacity: 0;
    transition-delay: 0.3s;
    transition: 2s;
    
}

.slede_one_active>img{
    opacity: 1;
    transform: translateX(0vw)  translateY(80px) ;
}

.slede_one>p{
    transform: translateY(-40px) translateX(-50vw);
    transition-delay: 1s;
    opacity: 0;
    transition: 2s;
}
.slede_one_active>p{
    opacity: 1;
    transform: translateX(0vw) translateY(-40px);
}

.slede_two>p{
    transform: translateY(80px);
}
.slider_two>img{
    transform: translateY(-40px);
}


.slider>p{
    color: #fff;
    word-break: break-all;
    justify-content: center;
    
}





@media screen and (max-width:767px){
    .flex_container{
        overflow: hidden;
    }
    .header{
        position: relative;
    }

    /*new coment*/
    .navbar{
        position: absolute;
        text-align: center;
        background:rgba(24, 47, 56, 0.721);
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 120px);
        width: 200px;
        top: 120px;
        right: -210px;
        z-index: 999;
        opacity: 0;
        box-shadow: -2px 2px 8px black,0px 0px 10px black;
        transition: 1s;
    }
    .navbar_active{
        right: 0px;
        opacity: 1;
    }
    
    .media_menu_btn{
        position: absolute;
        right: 7%;
        align-self: center;
        display: inline-block;
    }
}